#Movement{
	float: right;
	width: 550px;
	height: 150px;
	max-width: 500px;
}

#MouseClick{
	float	: center;
	width	: 250px;
	height	: 250px; 
	max-width	: 250px; 
}

#HeartRate{
	float: right;
	width: 550px;
	height: 150px;
	max-width: 500px;
}

#Temperature{
	float	: left;
	width	: 250px;
	height	: 250px; 
	max-width	: 250px; 
}

#Humidity{
	float	: left;
	width	: 250px;
	height	: 250px; 
	max-width	: 250px; 
}