#GazeMap {
	float:left;
	width:240px;
	height:135px;
	margin: 0;
	border:1px dashed black;
}

#MouseClick{
	float	: center;
	width	: 250px;
	height	: 250px; 
	max-width	: 250px; 
}

#HeartRate{
	float: right;
	width: 550px;
	height: 150px;
	max-width: 500px;
}

#Temperture{
	float	: left;
	width	: 250px;
	height	: 250px; 
	max-width	: 250px; 
}

#Humidity{
	float	: left;
	width	: 250px;
	height	: 250px; 
	max-width	: 250px; 
}