#HeartRate{
	float: right;
	width: 550px;
	height: 150px;
	max-width: 400px;
}

#Movement{
	float: right;
	width: 550px;
	height: 150px;
	max-width: 400px;
}

#KeyCount{
	float : right;
	width	: 550px;
	height	: 150px;
	max-width: 400px;
}

#Temperature{
	float	: left;
	width	: 200px;
	height	: 200px;
	max-width	: 200px;
}

#Humidity{
	float	: left;
	width	: 200px;
	height	: 200px;
	max-width	: 200px;
}
